# Maven
target/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/



